// Navigation Styles here

.header {
    .content-width();
    margin: 0 auto;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &:hover {
        background-color: @sandy-beach;
        transition-duration: 1s;
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    

    h1{
        font-size: 48px;
        margin-right: 304px;
        margin-top: 5px;
        a {
            text-align: left;
            .nav-links();
        }
       
    }
    nav {
       width: 40%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        
        a {
            .nav-links();
            margin: 0 0 0 3%;
            font-size: 18px;
            &:hover {
                color: @eastern-blue;
            }
        }
      
    }

    .border-bottom();

    @media @tablet {
display: block;
        h1{
            display: block;
            text-align: center;
            margin: 0 0 5px 0;
        }

        nav {
            width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        
        a {
            .nav-links();
            margin: 0  0 3%;
            font-size: 18px;
        }
        }


    }



}